[Desktop Entry]
Name=Slingswarm
Comment=Application launcher
Exec=slingswarm-launcher
Icon=/usr/share/icons/slingswarm-launcher.png
Type=Application
Categories=GNOME;GTK;Utility;
StartupNotify=false
